@font-face {
    font-family: bnazanin ;
    src: url(font/B\ Nazanin-.ttf);
}
@font-face {
    font-family: bbnazanin;
    src: url(font/B\ Nazanin\ Bold-.ttf);
}
@font-face {
    font-family: argent;
    src: url(font/ArgentCF-Thin.ttf);
}
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body
{
    direction: rtl !important;
    font-family: bnazanin !important;
}
nav
{
    background-color: #fdfdfd;
}
#menu
{
    background-color:#fdfdfd;
}
/* --- logo --- */
.img {
    width: 90px;
    height: 40px;
  }
  /* --- top menu icon img --- */
  .pic-category
  {
    width: 25px;
    height: 25px;
  }
  /* -- top menu text -- */
  .top-menu 
  {
    font-family:bbnazanin;
    font-size: 19px;
  }
  /* -- price font -- */
  .font
  {
    font-family: bbnazanin;
    font-size: 18px;
  }
  /* -- gray text -- */
  .top-text
  {
    color: #888888;
  }
  .pindo
  {
    width: 15px;
    height: 20px;
  }
  .store-img
  {
    width: 25px;
    height: 25px;
  }
  /* ---- english text -- */
  .eng-descrip
  {
    color: gray;
    font-family: argent ;
    font-size: 16px;
  }
  /* ----- img for mobile ----- */
  .img-mob
  {
    width: 250px;
    height: 300px;
  }
  .star-img
  {
    width: 580px;
    height: 45px;
  }
  .style
  {
    transform: translateY(-5px); 
    transition-duration: 300ms;
  }
  .garanty
  {
    font-size: 18px;
  }
  /* --- رنگ بندی -- */
  .color-pic img
  {
    width: 40px;
    border: 1px black;
    border-radius: 100%;
  }
  /* ----------------------- bimeh ----------------- */
  .card {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.badge {
    font-size: 0.8rem;
    padding: 0.3em 0.5em;
}

.btn-outline-primary {
    border-color: #c8c8c9 !important;
    color:black !important;
}

.btn-outline-primary:hover {
    background-color: #ebebed!important;
    color: white;
}

.alert-secondary {
  border: 1px solid ;
    background-color: #ffffff;
    border-color: #e9ecef;
}

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM7 5a1 1 0 0 0-1 1v1.5a.5.5 0 0 0 1 0V6h.5a.5.5 0 0 0 0-1H7zm1 3a1 1 0 1 0 0 2 1 1 0 0 0 0-2z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

.bi-chevron-left::before {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

.text-primary {
    color: #0fabc6 !important;
}

.form-check-input:checked {
    background-color: #0fabc6;
    border-color: #0fabc6;
}

@media screen and (max-width: 576px) {
    .card-body {
        padding: 1rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    .card-title {
        font-size: 1rem;
    }
}
.h-line
{
width: 130px;}
/* ------ vizhegi koli va nazarat ------ */
#sec2
{
  height: 1200px !important;
}
#span-vijegi {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-family: bbnazanin;
  font-size: 25px;
}
@media screen and (max-width: 770px) {
  .imgs-pro {
    border-radius: 50% !important;
    height: 705 !important;
    margin-top: 20px !important;
  }
}

